body {
    background-color: var(--primary-color);
}

.container {
    display: flex;
    margin: 2% 0 2% 0;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;

}

.col {
    flex-direction: column;
}

.login-form {
    width: 50%;
    height: auto;
    /* background-color: aqua; */
}

.display-1 {
    font-size: 2.25rem;
    margin: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form label {
    font-size: 1.5rem;
    margin: .5rem;
}

.login-form input {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-top: none;
    border-left: none;
    border-right: none;

}

.error-msg {
    color: #cc0000;
    margin-bottom: 12px;
}


.login-form input:focus::placeholder {
    color: transparent;
}


.login-form button {
    padding: .5rem;
    margin: 1rem;
    background-color: #00BFFF;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}